body{
    background-color: azure ;
}
h1{
    display: flex;
    justify-content: center;
text-align: center;
font-style: italic;
}
table,.numgenerated,.numgenerator{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-end;
    margin-top: 5px;
}
td,th{
    width: 5vw;
    height: 5vw;
    background-color: antiquewhite;
    border-color: black;
    padding-left: 1vw;
    
    
    align-items: center;
    
}
.generatorbtn{
    font-size:100% ;
    background-color: azure;
    color: black;
    transition-duration: 0.4s;
    box-shadow: 0 4px #999;
}
.generatorbtn:hover{
    background-color: blue;
    color: azure;
}
.generatorbtn:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
  }
  h3{
    margin-top: 5px;
  }
  .player{
    font-style: italic;
    
  }
  .p{

display: flex;
    justify-content: center;
    align-content: center;


  }
  button{
    font-size: 15px;
    background-color: aqua;
    color: blue;
    border-radius: 12px;
    transition-duration: 0.4s;
    height: 35px;
    padding: 5px;

}
button:hover {
    background-color: blue; 
    color: aqua;
  }
  #numgenerated{
display: flex;
justify-content: center;
text-align: center;
  }

  #i1,#i2,#i3,#i4{
    display: none;
  }